<div class="page-header">
  <h2><a href="/" class="glyphicon glyphicon-menu-left" aria-hidden="true"></a><%= @title %></h1></span>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= @content %>
  </div>
  <div class="panel-footer">
    <% if logged_in? %>
      <a class="btn btn-info  pull-right" href="/article/<%= @id %>/edit" role="button">Edit</a>
    <% end %>
    <p class="text-muted"><a href="/article/<%= @id %>/history">Last edit</a> by <a href="/user/<%= @author_id %>"><%= @last_author %></a> @ <%= @last_edit %></p>
    <a class="btn btn-primary btn-sm " href="/article/tag/<%= @tag %>" role="button"><%= @tag %></a>
  </div>
</div>

