<div class="page-header">
  <h2><a href="/article/<%= @id %>" class="glyphicon glyphicon-menu-left" aria-hidden="true"></a><%= @title %></h1></span>
</div>

<% @all_revs.reverse.each do |rev| %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= rev["rev_markdown"] %>
  </div>
  <div class="panel-footer">
    <p class="text-muted"><a href="/user/<%= rev["rev_user"] %>"><%= rev["rev_user_name"] %> </a> @ <%= rev["rev_created"].slice(0,19) %></p>
  </div>
</div>
<% end %>
